# Visit this link: https://insforge.dev/?utm_source=techwithemma
# Create an account & project, connect to your AI code editor, then go to setting get the BASE_URL & APIKEY (paste in .env)
# Then go to Model Gateway in your Insforge project enable this models: - anthropic/claude-sonnet-4.5, google/gemini-2.5-pro, google/gemini-3.1-pro-preview,google/gemini-2.5-flash-lite,
# Watch the video to see how to create the projects, messages and pages table
# go through the lib/insforge-client, lib/insforge-server.ts, /app/auth/route.ts and /proxy.ts

#NEXT_PUBLIC_INSFORGE_BASE_URL=https://<>.insforge.app
#NEXT_PUBLIC_INSFORGE_ANON_KEY=

#updated to this 
INSFORGE_BASE_URL=https://<>.insforge.app
INSFORGE_ANON_KEY=


